// Variables default
@import 'variables.scss';

a, a:hover, a:active, a:focus { text-decoration: none !important; }

ul, ol {
	list-style-type: none !important;
	padding: 0px !important;
	margin: 0px !important;
}

.wrapper-fluid, .wrapper {
	display: block;
	box-sizing: border-box;
}

// .wrapper-fluid { overflow: hidden; }

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.flex, .flex-between { display: flex; }

.flex-between {
	justify-content: space-between;
	align-items: center;
}

// button
.btn_ {
	background: $cl_primary;
	padding: 13px 30px;
	transition: $transition_default;
	color: $cl_white;
	box-shadow: 0px 10px 15px rgb(41,140,207,.15);
	&:hover {
		color: $cl_white;
		box-shadow: 0px 10px 20px rgb(41,140,207,.3);
	}
}

// title
.title_ {
	text-align: center;
	position: relative;
	margin: 0;
	margin-bottom: 85px !important;
	font-weight: bold !important;
	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 50px;
		height: 50px;
		background: $rgb_primary_opacity;
		z-index: -1;
	}
}