// Transitions 
$transition_default : all .3s ease !important;
// typography
$font_family_default_body : 'muli', sans-serif !important;

// colors
$cl_primary : #298ccf;
$cl_black : #333;
$cl_white : #fff;
$cl_grey: #727272;
$rgb_primary_opacity: rgb(41,140,207,.11);

// Backgrounds
$bg_footer: #dedede59;